@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin+Sketch:wght@400;700&family=Caveat:wght@500;700&family=Great+Vibes&family=Luckiest+Guy&family=Oswald:wght@300&family=Roboto&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin+Sketch:wght@400;700&family=Carattere&family=Caveat:wght@400;700&family=Great+Vibes&family=Luckiest+Guy&family=Oswald:wght@300&family=Roboto&family=Shadows+Into+Light&display=swap');

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(/assets/pizza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

nav{
    font-family: 'Roboto', sans-serif;
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 8vh; 
    background: #310d02e7;
    color: #e7e7e7;

}
ul{
    font-size: 1.3em;
    display: flex;
    list-style: none;
    gap: 6em; 
    padding: 0; 
    margin: 0; 
   
}


.info{
    color: wheat;
}

#homeTab, #menuTab, #contactTab{
    cursor: pointer;
}

#content{
    height: 100%;
}

#homeContent p{
    color: white;
    font-family: 'Great Vibes', cursive;
    font-size: 5em;
    padding: 2em 0em 0em 2em;
}

#homeContent h3{
    color: white;
    font-family: 'Carattere', cursive;
    font-size: 23px;
    font-weight: 300;
    padding: 1em 0em 2em 8em;
   
}

#homeContent{
    background-color: rgba(0,0,0,0.5);
    margin: 3em 2em 3em 4em;
    width: 70%;
    
}
.pizza-item {
    display: flex;
    align-items: center;
    width: 90%;
    margin-bottom: 0.5em;
  }
  
  .pizza-name {
    margin-right: 10px;
    font-size: 1.5em;
  }
  
  .dotted-line {
    flex-grow: 1;
    border-bottom: 1px dotted #ccc; 
    margin: 0 10px; 
  }
  
  .pizza-item p{

  }



p, h3, h1, h4{
    margin: 0;
}

.menuTitle{
    font-size: 6em;
    text-align: center;
    padding-bottom: 0.5em;
}
#menuContent{
    color: white;
    font-family: 'Carattere', cursive;
    padding: 2em 4em 1em 4em;
    margin: 5em 20em 0em 20em;
    background-color: rgba(0,0,0,0.5);
}
#menuContent p{
    font-size: 1.5em;
    /* margin-left: 0.5em; */
    margin-bottom: 1.5em;
}
.pizza-price{
    font-size: 1.5em;
}

#homeContent button{
    margin: 1em 1em 2em 10em;
    /* width: 50%; */
    padding: 0.6em;
    font-size: 1em;
    background: #4b17079a;
    /* background: #5d1f0c; */
    color: #fff3f3;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#homeContent button:hover, #contactForm button:hover{
    background: #4b1707b7;
    box-shadow: 1px 1px 10px 4px #888888;
}

#homeTab:hover, #menuTab:hover, #contactTab:hover{
    text-shadow: -1px -1px 7px #fffafa;
}
#contactContent{
    background-color: rgba(0,0,0,0.5);
    /* margin: 3em 2em 3em 4em; */
    margin: auto;
    margin: 6em 20em;
    padding: 5em;
}
input, textarea{
    background-color: #0000005c;
    color: whitesmoke;
}

#contactForm {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #f4f4f445;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #contactForm input[type='text'],
  #contactForm input[type='email'],
  #contactForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  #contactForm button {
    width: 65%;
    padding: 10px;
    background-color: #310d02e7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5.5em;
}


#contactContent > div {
    max-width: 400px;
    margin: 20px auto;
    padding: 15px;
    background: #f4f4f445;
    border-radius: 8px;
    text-align: center;
  }
  #contactContent h3 {
    
    color: #fefefe96;
    margin-bottom: 10px;
}

#contactContent p {
    color: #001d3d;
    line-height: 1.6;
}


/* Responsive styles */
@media (max-width: 768px) {
    /* Styles for tablets and smaller devices */
        /* Show the hamburger menu in mobile view */
        
        nav ul {
            width: 100%;
            padding: 0; /* Reset any padding */
        }
    
        nav ul li {
            text-align: center;
            padding: 10px 0;
        }
    .pizza-item, #contactContent > div, #contactForm {
        max-width: 100%;
        padding: 15px;
    }
  
    .pizza-item {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .dotted-line {
      display: none; /* Hide on smaller screens */
    }
  
    #homeContent{
        margin: auto;
    width: 50%;
    padding: 20%;
    }
     #menuContent {
      margin: 1em;
      padding: 0;
    }

    #contactContent{
        margin: 2em;
        padding: 0;

    }
  
    #homeContent button, #contactForm button {
      width: 100%;
      margin-left: 0;
    }
  
    .menuTitle {
      font-size: 3em;
    }
    
    #menuContent p {
      font-size: 1em;
    }
  
    .pizza-price {
      font-size: 1em;
    }
  
    #homeContent p {
      font-size: 3em;
      padding: 1em;
    }
  
    #homeContent h3 {
      font-size: 1em;
      padding: 0.5em;
    }
  }
  
  @media (max-width: 480px) {
    /* Styles for mobile devices */
    
    nav ul {
    gap: 1.5em;
    justify-content: space-around;
    /* padding: 0em 0em; */
    font-size: 1em;
    }
  
    .menuTitle {
        display: none;
    }
    
    #homeContent p{
        font-size: 2em;
        padding: 0;
    }
    #homeContent h3 {
        font-size: 0.8em;
        padding: 0.5em;
      }
    #menuContent p {
      font-size: 0.8em;
    }
  }